{% extends '_base.twig' %}

{% block activeItemHome %}
    active
{% endblock %}

{% block content %}
    <div class="container">
        <div>
            <h1>Generic Hipster Coffee</h1>
            <h2>Specialty coffee, fresh food &amp; local community.</h2>
        </div>

        <div>
            <img alt="Interier of Generic Hipster Coffee" class="img-fluid" src="/img/counter.jpg" />
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-4">
                <h3>Opening Hours</h3>
                <p>sunday to thursday: 8 am to 11 pm</p>
                <p>friday to saturday: 8 am to 1 am</p>
            </div>

            <div class="col-md-6 col-lg-4">
                <h3>Book a table</h3>
                <p>Call
                    <a href="tel:+14153214567">+1 415-321-4567</a>
                </p>
            </div>

            <div class="col-md-12 col-lg-4">
                <h3>Address</h3>
                <p>321 Ivy St.<br>San&nbsp;Francisco, CA 94102</p>
            </div>
        </div>
    </div>
{% endblock %}
