{% extends '_base.twig' %}


{% block title %}Index page{% endblock %}


{% block content %}
    <header>
        <img src="/svg/logo.svg" alt="Generic Hipster Coffee" class="w-25" />

        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="#">Coffee</a></li>
            <li><a href="#">Our Story</a></li>
        </ul>
    </header>

    <div>
        <h1>Generic Hipster Coffee</h1>
        <h2>Specialty coffee, fresh food &amp; local community.</h2>
        <img src="/img/counter.jpg" alt="Interier of Generic Hipster Coffee" class="w-25" />
    </div>

    <div>
        <h3>Opening Hours</h3>
        <p>sunday to thursday: 8 am to 11 pm</p>
        <p>friday to saturday: 8 am to 1 am</p>
    </div>

    <div>
        <h3>Book a table</h3>
        <p>Call <a href="tel:+1 415-321-4567">+1 415-321-4567</p>
    </div>

    <div>
        <h3>Address</h3>
        <p>321 Ivy St.<br>San&nbsp;Francisco, CA 94102</p>
    </div>

    <div>
        <a href="https://www.google.com/maps">Mapa</a>
    </div>

    <div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="#">Coffee</a></li>
            <li><a href="#">Our Story</a></li>
        </ul>

        <p>#hipstersmakecoffee</p>

        <p>Follow us on <a href="https://www.twitter.com">Twitter</a> and <a href="https://www.instagram.com">Instagram </a> </p>
    </div>
{% endblock %}