{% extends '_base.twig' %}

{% block title %}
    Coffee –
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="container">
<h1>Booking</h1>
<p>Reservation sent. We will confirm your booking till two hours.</p>
</div>
{% endblock %}
